{% extends 'auth_layout.html' %} {% block content %} {% load crispy_forms_tags %}

<div class="bg"></div>
<div class="bg bg2"></div>
<div class="bg bg3"></div>


<div class="form-row-new">
    <div class="row-column-form">
        <h1>Sylkos</h1>
        <p class="lead text-muted">Aktywny udział w życiu społeczności!</p>
        <div class="login-form-container">
            <form method="POST">
                {% csrf_token %} {{form | crispy}}
                <br>
                <button type="submit" class="btn btn-sm btn-outline-secondary">Utwórz konto</button>
            </form>
            <p class="mt-2">lub <a href="{% url 'login' %}">Zaloguj się</a></p>
        
        </div>
        
    </div>
    <div class="row-column-about" id="textAbout">
        <div id="background" class="background"></div>
        <div class="text-about" >
            <div class="all-text">
                        <strong>Sylkos to platforma dostarczająca kompleksowych usług 
                        w&nbsp;zakresie wspomagania procesu konsultacji społecznych. </strong>
                        Umożliwia w&nbsp;sposób rzetelny i&nbsp;weryfikowalny 
                        zbieranie jednoznacznych informacji zwrotnych 
                        reprezentujących poglądy określonej grupy 
                        reprezentującej daną jednostkę. 
                        Dostarcza różne mechanizmy głosowań, 
                        umożliwiając ich dopasowanie do charakteru 
                        przeprowadzanych konsultacji i&nbsp;zbieranych 
                        informacji.
        <br><br>

        Ponadto daje użytkownikom możliwość wyrażania opinii i
 ocen w ramach przynależności do grup odzwierciedlających realne jednostki
  organizacji terytorialnej. Platforma eliminuje również negatywne aspekty
  występujące w obecnych formach interakcji z obywatelami, czy to za 
 pośrednictwem serwisów społecznościowych czy też w  sposób stacjonarny. 
   Jest to nowoczesne i unikalne rozwiązanie wyznaczające nowy trend w relacjach 
   władza-obywatel zapewniając maksymalną wygodę i prostotę użytkowania.
        </div>

        <a href="../../#/groups">
        <div class="go-to-button">
            
            Odwiedź stronę jako gość
        </div>
    </a>

    </div>
    
    </div>
</div>

{% endblock %}